/* header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)),
    url("../img/pulau-gorontalo.jpg");
  animation: header 10ms ease 3;
}

@keyframes header {
  from {
    width: 0px;
  }
  to {
    width: 200px;
  }
}

.img-wisata {
  background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5));
}

.wisata img {
  transition: transform 0.2s;
}

.wisata:hover img {
  transform: scale(1.2);
}

.img-hotel {
  height: 175px;
} */

div.hotel {
  transition: 0.3s;
}

div.hotel:hover {
  transform: translate(0, -10px);
}

.stack {
  display: grid;
  grid-template-areas: "stack";
  width: 20rem;
  height: 20rem;
}

.stack > img {
  grid-area: stack;
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;

  box-shadow: 0 0 0.5rem rgba(0 0 0 / .2);

  border: solid 0.5rem white;
  border-bottom: solid 2rem white;
  border-radius: 0.5rem;

  transition: transform 200ms;
}

.stack > img:nth-child(1) {
  transform: 
    rotate(5deg)
    translateX(1.25rem)
    translateY(-1.25rem);
}

.stack > img:nth-child(2) {
  transform: 
    rotate(-10deg)
    translateX(-1.25rem);
}

.stack > img:nth-child(3) {
  transform: 
    rotate(0deg);
}

.stack:hover > img:nth-child(1) {
  transform: 
    rotate(10deg)
    translateX(2.5rem)
    translateY(-2.5rem);
}

.stack:hover > img:nth-child(2) {
  transform: 
    rotate(-20deg)
    translateX(-3.75rem);
}

.stack:hover > img:nth-child(3) {
  transform: 
    rotate(0deg);
}

.waves {
  position:relative;
  width: 100%;
  height:15vh;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:150px;
}

.content {
  position:relative;
  height:20vh;
  text-align:center;
  background-color: white;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
  .content {
    height:30vh;
  }
  h1 {
    font-size:24px;
  }
}